@model UserAddDTO

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="container-xxl flex-grow-1 container-p-y">

        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light"> Istifadəçi idarəsi /</span> İstifadəçi
        </h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">

                    <form asp-controller="User" asp-action="Add" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" style="color:red"></div>

                    <div class="card-body">

                        <div class="mt-2" class="form-group">
                            <label asp-for="FirstName" for="defaultFormControlInput" class="form-label mt-3">İstifadəçi adı</label>
                            <input asp-for="FirstName" type="text" placeholder="İstifadəçinin adı..." class="form-control" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="mt-2" class="form-group">
                            <label asp-for="LastName" for="defaultFormControlInput" class="form-label mt-3">İstifadəçi soyadı</label>
                            <input asp-for="LastName" type="text" placeholder="İstifadəçinin soyadı..." class="form-control" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="mt-2" class="form-group">
                            <label asp-for="Email" for="defaultFormControlInput" class="form-label mt-3">İstifadəçinin Email Ünvanı</label>
                            <input asp-for="Email" type="email" placeholder="Email..." class="form-control" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                                <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mt-2" class="form-group">
                            <label asp-for="PhoneNumber" for="defaultFormControlInput" class="form-label mt-3">İstifadəçinin Nömrəsi</label>
                            <input asp-for="PhoneNumber" type="tel" placeholder="Phone number..." class="form-control" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="mt-2" class="form-group">
                            <label asp-for="RoleId" for="defaultFormControlInput" class="form-label mt-3">İstifadəçi Rolu</label>
                          <select id="categoryList" class="form-control" asp-for="RoleId" asp-items="@(new SelectList(Model.Roles,"Id","Name"))"></select>
                        </div>


                        <div class="mt-2" class="form-group">
                            <label asp-for="Password" for="defaultFormControlInput" class="form-label mt-3">İstifadəçinin Nömrəsi</label>
                            <input asp-for="Password" type="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" class="form-control" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                                <span asp-validation-for="Password" class="text-danger"></span>
                        </div>


                        <div class="form-group mt-3">
                            <button class="btn btn-success" type="submit">Yadda saxla</button>
                        </div>
                    </div>

                </form>

                </div>
            </div>

        </div>

    </div>

</div>