

@model ArticleAddDto

<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light meqale"> Məqalə idarəsi /</span> Məqalələr
    </h4>

 
    <div class="row">
        <div class="col-md-12">

       
          
            <div class="card mb-4">
            

                <form asp-controller="Article" asp-action="Add" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                     <div class="card-body">


                        <div class="mt-2" class="form-group">

                            <label for="defaultFormControlInput" class="form-label ">Kategory</label>
                            <button type="button" class="btn text-primary me-2 float-end" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                Daxil et+
                            </button>


                           <select id="categoryList" class="form-control" asp-for="CategoryId"  asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
                           <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>

                    <div class="mt-2" class="form-group">
                        <label asp-for="Tutle" for="defaultFormControlInput" class="form-label">Başlıq</label>
                        <input asp-for="Tutle" type="text" class="form-control" id="defaultFormControlInput" placeholder="Başlıq..." aria-describedby="defaultFormControlHelp">
                            <span asp-validation-for="Tutle" class="text-danger"></span>

                    </div>
                    <div class="mt-2" class="form-group">
                        <label asp-for="Content" for="defaultFormControlInput" class="form-label">Kontent</label>
                            <textarea asp-for="Content" type="text" class="form-control" id="defaultFormControlInput" placeholder="Kontent..." style="min-height:300px" aria-describedby="defaultFormControlHelp"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                    </div>

                        <div class="mt-2" class="form-group">
                            <label asp-for="Photo"   for="defaultFormControlInput" class="form-label mt-3">Photo</label>
                            <input asp-for="Photo" accept="image/*" type="file" class="form-control" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                            <span asp-validation-for="Photo" class="text-dang/er"></span>
                        </div>
                    <div class="form-group mt-3">
                         <button class="btn btn-success" type="submit">Yadda saxla</button>
                    </div>
                </div>

                </form>

          


            </div>
        </div>

    </div>

</div>




<!--Modal-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="defaultFormControlInput" class="form-label mt-3">Kategoriya</label>
                        <input type="text" class="form-control categoryName"  id="defaultFormControlInput" placeholder="Kategoriya..." aria-describedby="defaultFormControlHelp">
                    </div>
                </form>

              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Bağla</button>
                <button type="button" class="btn btn-primary btnSave">Yadda saxla</button>
            </div>
        </div>
    </div>
</div>



<!--Modal-->


 @section Scripts
{
    <script src="~/js/categoryAdd.js"></script>
    <script>
        var app = app || {};
        app.Urls = app.Urls || {};
        app.Urls.baseUrl = '@Url.Content("~")';
        app.Urls.categoryAddUrl = "@(Url.Action("AddWithAjax", "Category"))";
        app.Urls.articleAddUrl = "@(Url.Action("Add", "Article"))";
    </script>
} 